<div class="modal" name="loading">
  <div class="dialog">
    <div class="header">
      <div class="name">
        Placing Order...
      </div>
    </div>
    <div class="order-complete">
      Your order is being placed, please be patient...
      <div class="animation">
        <div class="loader"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal" name="complete">
  <div class="dialog">
    <div class="header">
      <div class="name">
        Thank You!
      </div>
    </div>
    <div class="order-complete">
      Thank you for ordering <span name="product-name"></span>!<br><br>
      Your order has been placed. We appreciate your business, feel
      free to check out more items!
    </div>
    <div class="order-complete-actions">
      <button class="button">Okay!</button>
    </div>
  </div>
</div>
